body{
    background-color:aliceblue;
}

.box{
    margin-top: 26%;
    margin-left:10%;
    margin-bottom: 13%;
    display: flex;
    
}
.containertex{
    margin-left:auto;
    margin-right: auto;
    font-size: 20px;


}

.sorry1 img{
    width: 240px;
    height: 190px;
    top:3px;
    
}

