.header{
    border:2px solid;
    height:300px;
    display:flex;
}
.left{
    border:2px solid;
    height:100px;
    width:100px;
    padding:2%;
    margin:2%;
}
.right{
    border:2px solid;
    height:180px;
    width:2000px;
    padding:2%;
    margin:2%;

}
.log{
    border:2px solid;
    height:20px;
    margin:0;

}
.menu{
    border:2px solid;
    height:20px;
    margin:1% 0;
    padding:20px;
}